@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  /* background-color: #f5f7ff; */
}
body{
    max-width: 1440px;
    width:100%;
    margin:0 auto;
    padding: 0;
}

/* shared styles */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn-primary{
   width:16.87rem;
   height:3.1rem;
   background-color: #E95A08;
   color:#FFFFFF;
   padding:1rem 3.1rem;
   font-size: 1rem;
   font-weight: 600;
   border: none;
   text-align: center;
  }

/* header styles */
.header-container{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 1.8rem auto;
  width: 80%;
  max-width:71.25rem;
}
.nav-links{
  display: flex;
  gap:2.8rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  color:#252432;
}
.nav-links li{
  list-style: none;
}

/* banner styles */
.banner{
  width: 80%;
  max-width:71.25rem;
  display: grid;
  justify-content:center;
  align-items: center;
  grid-template-columns: repeat(2,1fr);
  margin:7.5rem 9.3rem;
}
.banner-desc{
  width: 35.63rem;
}
.banner h3{
  font-size: 4.06rem;
  font-weight: bold;
  color:#000000;
  margin-bottom: 13px;
}
.banner-img{
  max-width: 100%;
}
.banner-orange{
  color:#E95A08;
}
.banner p{
  font-size: 1.37rem;
  font-weight: normal;
  color:rgb(0, 0, 0,0.5);
}

/* card section styles */
.card-section{
  text-align: center;
  width: 80%;
  max-width: 71.25rem;
  margin:2rem auto;
}
.card{
  max-width: 100%;
}
.card-desc{
   width:100%;
}
.card img{
  width: 100%;
}
.card-section h3{
  font-weight: bold;
  font-size: 3.1rem;
  color: #000000;
  margin-bottom: 1rem;
}
.card-section p{
  font-size: normal;
  font-size: 1.37rem;
  color:rgb(0, 0, 0,0.5);
  margin-bottom: 3.06rem;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
  align-items: center;
  gap:1.87rem;
}
.card h4{
  font-weight: bold;
  font-size: 1.37rem;
  color:#111111;
  margin-top: 0.5rem;
}
.card h5{
  font-weight: normal;
  font-size: 1.37rem;
  color:#111111;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* flower lover styles */
.lover{
   width:80%;
   max-width: 71.25rem;
   display:flex;
   justify-content: center;
   margin:0 auto;
   margin-top: 13rem;
   gap:3.75rem;
}
.lover-desc{
  max-width: 33.75rem;
}
.lover-desc h4{
  font-size: 3.12rem;
  font-weight: bold;
  color:#000000
}
.lover-desc p{
  text-align: justify;
}
.lover-desc ul{
  font-size: 1.37rem;
  font-weight: normal;
  color:rgb(0, 0, 0,0.5);
  list-style-position: outside;
}
.lover{
  position: relative;
}
.lover-logo{
   position: absolute;
   right:40%;
   top: -25%;
}
/* latest deals */
.latest-deals{
  width:80%;
  max-width: 71.25rem;
  margin: 2rem auto;
}
.latest-deals-title{
  text-align: center;
  font-size: 3.1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.latest-deals-desc{
  text-align: center;
  font-size: 1.37rem;
  font-weight: normal;
  color:rgb(0, 0, 0,0.5);
  width:100%;
  margin:1rem auto;
}
.latest-deals-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.img-a{
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/deal-bloom.png);
  width:367px;
  height:201px;
  border-radius: 14px;
}
.img-b{
  background-image: linear-gradient;
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/deal-ana.png);
  width:367px;
  height:201px;
  border-radius: 14px;
}
.img-c{
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/deal-zabo.png);
  width:753px;
  height:423px;
  border-radius: 14px;
}
.img-a h4, .img-b h4{
  font-size: 1.25rem;
  font-weight: bold;
  color:#FFFFFF;
}
.img-a a, .img-b a{
  font-size: 1rem;
  font-weight: 600;
  color:#FFFFFF;
}
.img-c h4{
  font-size: 1.7rem;
  font-weight: bold;
  color:#FFFFFF;
}
.img-c a{
  font-size: 1.75rem;
  font-weight: 600;
  color:#FFFFFF;
}
.img-a h4, .img-b h4{
  position: relative;
  top:50px;
  left:70px;
}
.img-a a, .img-b a{
  position: relative;
  top:50px;
  left:140px;
}
.img-c h4{
  position: relative;
  top:150px;
  left:200px;
}
.img-c a{
  position: relative;
  top:140px;
  left:280px;
}
/* join section */
 .join-section{
    width:1140px;
    max-width:100%;
    height:33rem;
    background: url(../images/news-letter-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
 }
 .join-section h3{
   font-size: 3rem;
   color:#FFFFFF;
   font-weight: bold;
 }
 form{
   width: 100%;
 }
 .join-section input[type="email"]{
   width: 100%;
   max-width:40.6rem;
   height:2.8rem;
 }
 .join-section button{
   width: 100%;
   max-width:11rem;
   height:2.8rem;
   padding:10px 10px;
 }

/* footer styles */
.footer-section{
  max-width: 80%;
  display: flex;
  justify-content:center;
  align-items:center;
  margin: 3.1rem auto;
  gap:4.6rem;
  padding:0 3rem;
}
.logo-desc{
   width: 21.4rem;
   font-size: 1.37rem;
   font-weight: normal;
   color:rgb(0, 0, 0,0.5);
}
.links-1 li, .links-2 li{
   list-style: none;
   margin-bottom:2rem;
}
.links-1 a, .links-2 a{
   text-decoration: none;
   color:#6B7280;
}
.sites-container img{
  margin-left: 1rem;
}
@media screen and (max-width:576px) {
    .nav-links li:not(:last-child){
      visibility: hidden;
    }
    .banner{
    grid-template-columns: repeat(1,0.5fr);
    }
    .banner h3{
      font-size: 2rem;
    }
    .banner p{
      font-size: 1rem;
    }
    .banner-desc{
      order: 2;
    }
    .banner-img{
      order: 1;
    }
    .card-container{
      grid-template-columns: repeat(2,1fr);
      justify-content: start;
    }
    .card button, .card{
      max-width: 70%;
    }
    .card button{
      padding:10px 10px;
    }
    .card-desc{
       margin-left: 30%;
    }
    .lover{
    flex-direction: column;
    }
    .lover-desc h4{
      font-size: 1.5rem;
    }
    .lover-desc p{
      font-size: 0.6rem;
    }
    .lover-desc{
      width:152%;
      margin-bottom: 1rem;
      text-align: justify;
    }
    .lover-img-1{
      max-width: 152%;
    }
    .lover-logo{
      visibility: hidden;
    }
    .latest-deals-desc{
       margin-left: 15%;
    }
    .latest-deals-title{
       font-size: 2.5em;
       margin-left: 12%;
    }
    .latest-deals-container{
      grid-template-columns: repeat(1,1fr);
    }
    .join-section{
       width:393px;
       height: 273px;
    }
    .join-section h3{
      font-size: 1.5rem;
    }
    .join-section input[type="email"], .join-section button{
        width: 13.6rem;
        height: 2rem;
        font-size: 1rem;
    }


    .footer-section{
      flex-direction: column;
      gap:0rem;
      padding:0rem;
    }
    .links-1{
      margin-left: -15rem;
      font-size: 1.5rem;
    }
      .links-2{
      margin-left: -11rem;
      font-size: 1.5rem;
    }
    .links-1 li, .links-2 li{
      margin-bottom: 1rem;
    }
      .sites-container{
      margin-left: -11rem;
    }
    .img-a{
      width:367px;
      height:201px;
    }
    .img-b{
      width:367px;
      height:201px;
    }
    .img-c{
      width:367px;
      height:201px;
    }
    .img-c h4{
      font-size: 1.25rem;
    }
    .img-c a{
      font-size: 1rem;
    }
    .img-c h4{
      position: relative;
      top:90px;
      left:75px;
      right:5px;
    }
    .img-c a{
      position: relative;
      top:90px;
      left:140px;
      right:5px;
    }
    .latest-deals{
      padding-left: 22%;
    }
}
